<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th></th>

  </tr>

<%  @users.each do |user| %>
  <tr>
    <td><%= user.login %><br/></td>
    <td><%= user.email %></td>
    <% if current_user_session and current_user.is_admin? %>
      <td><%= button_to 'Eliminar', user, :confirm => "Estas seguro?", :method => :delete%></td>
    <% end %>
  </tr>
<% end %>

</table>

<%= link_to 'Registrar nuevo usuario', new_user_url %>